:root {
  --pale-grey: #f5f6fa;
  --azure: #0290ff;
  --pinkish-grey: #c4c4c4;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
}

#root {
  width: 100rem;
  height: 89.625rem;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--pale-grey);
}

.span-block {
  display: block;
}

.container {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}

.nav {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.Bookstore-CMS {
  width: 20rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 30.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.Oval {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0;
  padding: 0.875rem;
  border: solid 1px var(--white);
}

.Oval-2 {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-right: 10px solid #2274ee;
  border-bottom: 10px solid #2274ee;
}

.Rectangle-3 {
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
}

.Mask {
  width: 1.063rem;
  height: 1.063rem;
  background-color: var(--azure);
}

#book-row {
  display: flex;
  justify-content: space-between;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

#info {
  text-align: left;
}

.book-category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-id {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-options {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  background-color: transparent;
  border: 0;
}

.Line {
  width: auto;
  height: 0;
  margin: 10px 70px 70px;
  border: solid 1px #e8e8e8;
  align-self: center;
}

.Line-2 {
  width: 0;
  height: 4.375rem;
  margin: auto;
  border: solid 1px #e8e8e8;
}

.book-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px 70px 70px;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #fff;
  background: transparent;
}

.book-form-header {
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

#title-input {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

#category-input {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

.add-book-button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  border-radius: 6px;
  background-color: var(--azure);
}

.add-book-button-span {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.65rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.form-fields {
  display: flex;
  justify-content: space-around;
}

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}

.fl-table thead th {
  color: #fff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #fff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

.filter-category {
  margin: 10px 70px;
  display: flex;
  justify-content: flex-end;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table,
  .bookForm {
    display: block;
    width: 100%;
  }

  .table-wrapper::before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
}
